node_modules/
.expo/
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

# Default ignored files
/shelf/
/workspace.xml

# macOS
.DS_Store

# Temporary files created by Metro to check the health of the file watcher
.metro-health-check*
/.idea/modules.xml
/.idea/todo.iml
/.idea/vcs.xml
/.idea/.gitignore
/.idea/cpd-react-native.iml

# Editor-based HTTP Client requests
/httpRequests/
/.idea/git_toolbox_prj.xml
/.idea/workspace.xml
